body {
    padding-top: 40px !important;
}
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.select-day {
    width: 50px;
}

.select-month {
    width: 90px;
}

.select-year {
    width: 70px;
}

.navbar-my {
     background: #958332;
    
}

.navbar-my ul li a {
     color: #fff;
    
}

.navbar-my ul li a:hover {
    background: #333;
    
}

.navbar-my .navbar-brand {
    color: #fff;
   
}

.dropdown-menu a {
    color: #000000 !important;
}

.dropdown-menu a:hover {
    color: #000000 !important;
}

.btn-prim {
    background-color: #6d5b08;
    color: #000000;
}

.btn-prim:hover,

.btn-prim:focus,

.btn-prim:visited{

background-color: green;

color: white;

}