<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Modell.Properties.Settings.ConnectDB" connectionString="Data Source=PAVEL\INSTANCE1;Initial Catalog=ModelData;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Modell.Properties.Settings.ModelUsersConnectionString" connectionString="Data Source=PAVEL\INSTANCE1;Initial Catalog=ModelUsers;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ModelDataEntities" connectionString="metadata=res://*/ModelDBConnect.csdl|res://*/ModelDBConnect.ssdl|res://*/ModelDBConnect.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PAVEL\INSTANCE1;initial catalog=ModelData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserDataDataContext" connectionString="metadata=res://*/UsersModel.Model.DBUserData.csdl|res://*/UsersModel.Model.DBUserData.ssdl|res://*/UsersModel.Model.DBUserData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PAVEL\INSTANCE1;initial catalog=ModelUsers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelDataEntities1" connectionString="metadata=res://*/ModelContext.csdl|res://*/ModelContext.ssdl|res://*/ModelContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PAVEL\INSTANCE1;initial catalog=ModelData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelDataEntities2" connectionString="metadata=res://*/ModelData.csdl|res://*/ModelData.ssdl|res://*/ModelData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PAVEL\INSTANCE1;initial catalog=ModelData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>