@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>LessonProject</h2>

<p>
    @Html.ActionLink("Пользователи", "Index", "User", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Роли", "Index", "Role", routeValues: null, htmlAttributes: new { @class = "btn btn-success" })
    @Html.ActionLink("Информация о покупках", "Index", "SaleInfo", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })


</p>

